body, html {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
}

.main {
    position: relative;
    width: 100%;
    
    height: 953px;
    background-color: #314153;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}

/* BYUNGMIN’S */

header {
    position: absolute;
    width: 421px;
    height: 66px;
    left: 212px;
    top: 458px;
}

header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    line-height: 73px;
}

header h1 .point-color {
    font-family: 'Inter';
    color: #f06161
}

.nav-bar {
    position: absolute;
    top: 331px;
    right: 193px;
    width: 92px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul li {
    display: flex;
    align-items: center;
}

.nav-bar ul li a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.nav-bar ul li.active a {
    color: #FF5C5C;
}

.arrow {
    position: absolute;
    left: 1021px;
    top: 905px;
    font-size: 20px; 
    color: #fff;
    opacity: 0.6;
}


/* ABOUT section */
.about {
    margin-top: 216px;
    margin-left: 300px;
    margin-right: 300px;
}

.about-text {
    font-size: 36px;
    font-weight: 900;
    position: relative;
    display: inline-block;
}

.about-text::after {
    content: "";
    position: absolute;
    left: 114px;
    bottom: 14px; 
    width: 100%;
    height: 1.5px; 
    background-color: black;
}

.about-contents {
    margin-top: 52px;
    display: flex;
    gap: 100px;
}

.about-title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 76px;
    height: 139px;
    font-size: 18px;
    font-weight: bold;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 243px;
    height: 139px;
}

.about-lisence-text {
    font-size: 36px;
    font-weight: 900;
}